<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Hierarchy of Employees (Increasing order of Superiority)</h3>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered" *ngIf="employees && employees.length">
      <ul *ngFor="let emp of map.keys(); let i = index">
        <li>{{emp.fullName}} => <b>Tier  {{i+1}}</b> Supervisor
             <br/>
          <b>Tier  {{i+1}} Employees </b>
        </li>
        <ul>
            <li *ngFor="let k of map.get(emp)"> {{k.fullName}} -> {{mapExp.get(k)}}</li>
        </ul>
      </ul>
      <ul> No Supervisor <br/>  <b>Tier  {{ind}} Employees </b>
        <ul>
        <li *ngFor="let employee of temp"> {{ employee.fullName }}  -> {{mapExp.get(employee)}}</li>
        </ul>
      </ul>
    </table>
  </div>
</div>
