<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">List of Employees</h3>
  </div>
<div class="table-responsive">
  <table class="table table-bordered" *ngIf="employees && employees.length">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.fullName }}</td>
      <td>{{ employee.email }}</td>
      <td class="btn-toolbar">
           <button class="btn btn-success" (click)="editButtonClick(employee.id)">Edit</button>
           <button class="btn btn-danger" (click)="deleteButtonClick(employee.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</div>
