<div class="container">
  <nav class="navbar navbar-default bg-success">
    <ul class="nav navbar-nav">
      <li>
        <a routerLinkActive="active" routerLink="home">Home</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="list">List</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="create">Create</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="charts">Charts</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="rules">Rules</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="dynamic">Dynamic Hierarchy</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
